*{
    margin:0;
    padding:0;
    line-height: 1.5em;
}
.Ingredients,
.steps{
    
    
    margin-left :500px;
    margin-right:500px;
    margin-bottom:30px;
    margin-top:30px;
   
    
    max-width: 700px;
    padding:30px 50px 30px 50px;
    
}






a:link{
    color: white;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color:aqua;
}
a:visited{
    color:whitesmoke;
}
.container{
    text-align: center;
    
}
.front{
    
    color:white;
    background-image: url(food.webp) ;
    font-weight: bold;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
h1{
text-transform: uppercase;
color: lime;
}
.container,
.vegetable,
.Italian{
    background-color:black;
    text-align: center;
    color:white;
    /*border:5px solid blue;*/
    background-image: url(vegetables.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    

    
}
h2{
    text-transform: uppercase;
    color:lime;
    margin-bottom: -5px;
    
}
/*.ingredients{
    border: 20px solid red;
}*/
p{
    margin-bottom: 10px;
    margin-top:10px;
}
img{
    width:500px;
    border: 2px solid lime;
}
/*.main-header{
    position: relative;
}*/
p,ul,ol,h2,h1{
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.index{
    display:block;
}