*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.5em;
}
ul{
    border: 5px solid green;
    padding-top: 5px;
    margin-left:500px;
    margin-right:500px;
    margin-bottom:30px;
    margin-top:30px;
    padding-bottom:50px;
    padding-top: 50px;
    
    list-style: none;
}
ol{
    list-style: none;
    border: 5px solid green;
    padding-top: 5px;
    margin-left:500px;
    margin-right:500px;
    margin-bottom:30px;
    margin-top:30px;
    padding-bottom:50px;
    padding-top: 50px;
    
}
a:link{
    color: white;
}
a:hover{
    color:aqua;
}
a:visited{
    color:blue;
}
.container{
    text-align: center;
    
}
.front{
    
    color:white;
    background-image: url(food.webp) ;
    font-weight: bold;
    
    
}
h1{
text-transform: uppercase;
}
.container,
.vegetable,
.Italian{
    background-color:black;
    text-align: center;
    color:white;
}
h2{
    text-transform: uppercase;
    color:blue;
    margin-bottom: -5px;
}
/*.ingredients{
    border: 20px solid red;
}*/
p{
    margin-bottom: 10px;
    margin-top:10px;
}
img{
    width:500px;
}